<!doctype html>
<html class="no-js" lang="ru">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>FZ New Project</title>
	<link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>
<body>
	<div class="page-wrapper">
		<div class="page-wrapper__body">
			{{> header}}
			{{> body}}
		</div>
		<div class="page-wrapper__footer">{{> footer}}</div>
	</div>
	

	<script src="{{root}}assets/js/app.js"></script>
</body>
</html>